body {
  font-family: 'RalewayBold', sans-serif;
  font-weight: 400;
  color: #831d00;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: rgb(131, 29, 0);
}

@font-face {
  font-family: 'Copse', serif;
  src: url('https://fonts.googleapis.com/css?family=Copse');
}

.font-numbers {
  font-family: 'Copse', serif;
  font-weight: bold;
}


/* default font size */

.fa {
  font-size: 18px;
}


/* Override the bootstrap defaults */

h1 {
  font-size: 33px;
}

h2 {
  font-size: 27px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 15px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10.2px;
}

a {
  color: rgb(189, 24, 0);
}

a:hover {
  text-decoration: none;
  color: #831d00;
}

legend {
  font-size: 18px;
  padding: 7px 0px
}

label {
  font-size: 12px;
  font-weight: normal;
}

select.form-control, textarea.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
  font-size: 12px;
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
  font-size: 12px;
}

.input-group .input-group-addon {
  font-size: 12px;
  height: 30px;
}


/* Fix some bootstrap issues */

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
  display: inline;
}


/*Edite Bootsrap*/

.no_margin {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-tabs {
  margin-bottom: 15px;
}

div.required .control-label:before {
  content: '* ';
  color: #F00;
  font-weight: bold;
}

.alert-success {
  color: #831d00;
  background-color: #f2d888;
  border-color: #f2d888;
}

.alert-success>a {
  color: rgb(189, 24, 0);
}


/* Gradent to all drop down menus */

.dropdown-menu li>a:hover {
  text-decoration: none;
  color: #f2d888;
  background-image: linear-gradient(to bottom, #831d00, #992200);
  background-repeat: repeat-x;
}


/* top */

.con-nav {
  width: 100%;
  background-color: rgb(41, 5, 0);
}

.home-header-asolute .con-nav {
  background-color: rgba(41, 5, 0, 0.7);
  position: absolute;
  z-index: 5;
}

.nav_top {
  border-bottom: 1px solid;
}
#top-links > ul.list-inline.top__inforamtion{
  display: inline-block;
}
#top-links > ul:nth-child(2){
  display: inline-block;
}
@media (max-width:646px) {
  #top-links > ul.list-inline.top__inforamtion{
    display: none;
  }
}
#form-language > div{
  margin-bottom: 4px;
}
#form-language > div > button:hover{
  background-color: transparent;
}
#top {
  min-height: 40px;
  margin-bottom: 10px;
}

#top .container {
  padding: 0 20px;
}

#top-links ul {
  margin-bottom: 0px;
}

#top #form-currency .currency-select, #top #form-language .language-select {
  text-align: left;
  color: rgb(131, 29, 0);
}

#top #form-currency .currency-select:hover, #top #form-language .language-select:hover {
  text-decoration: none;
  color: #f2d888;
  background-image: linear-gradient(to bottom, #831d00, #992200);
  background-repeat: repeat-x;
}

#top #form-language>div>ul {
  background-color: #f2d888;
}

#top .btn-link, #top-links li, #top-links a {
  font-size: 13px;
  color: #DDD;
  padding-left: 8px;
  text-decoration: none;
}

#top-links a:hover {
  color: #f2d888;
}

#top-links>ul>li.dropdown>ul>li>a {
  color: #831d00;
}

#top-links>ul>li.dropdown>ul>li>a:hover {
  color: #f2d888;
}

#top-links>ul>li.dropdown.open>a {
  background-color: inherit;
}

#top-links .dropdown-menu a {
  text-shadow: none;
}

#top .btn-link strong {
  font-size: 14px;
  line-height: 14px;
}

#top-links {
  padding-top: 6px;
}

#top-links a+a {
  margin-left: 15px;
}

.backround_slider_lamp {
  height: 660px;
  background-image: url('../image/bk.png');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.backround_slider_ceiling_lamp {
  height: 660px;
  background-image: url('../image/ceiling_lamp.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.backround_slider_hightech_lamp {
  height: 660px;
  background-image: url('../image/hitech_lamp.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.backround_slider_art_deco_lamp {
  height: 660px;
  background-image: url('../image/art_deco_lamp.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
.backround_slider_classik_lamp {
  height: 660px;
  background-image: url('../image/classik_lamp.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}
@media (max-width:786px) {
  .backround_slider_lamp {
    height: 460px;

  }
  .backround_slider_ceiling_lamp {
    height: 460px;

  }
  .backround_slider_hightech_lamp {
    height: 460px;

  }
  .backround_slider_art_deco_lamp {
    height: 460px;

  }
  .backround_slider_classik_lamp {
    height: 460px;

  }
}
#slider {
  position: absolute;
}
@media (max-width:768px) {
  .common-home .con-nav{
    min-height: 458px;
  }
}


.s1{

 font-size: 20px;
 position: absolute;
 top:75%;
 /*width:40%;*/
 height: 75px;
 background-color: #f2d888;

}

.s1 p{
  text-align: right;
  margin-top: 25px;
  margin-right: 20px;
}
/* search */

#search {
  margin-top: 29px;
}

#imaginary_container>div>input {
  background-color: #DDD;
  border-radius: 0px;
}

#search .stylish-input-group .input-group-addon {
  background: #f2d888 !important;
  border-radius: 0px;
}

#search .stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

#search .stylish-input-group button {
  border: 0;
  background: transparent;
}


/* logo */

#logo {
  margin: 0 0 10px 0;
  padding-left: 30px;
  padding-top: 10px;
}

@media (max-width:768px) {
  #logo {
    text-align: center;
  }
}


/*phone*/

#phone {
  margin-top: 28px;
}

#phone .phone {
  color: #f2d888;
  font-size: 23px;
}
#phone .phone a{
  display:block;
  margin-bottom:7px;
 color: #f2d888;
}
#phone .phone a:hover{
  color: white;
}
.icon_phone .fa {
  font-size: 35px;
  margin-top: 5px;
}

@media (max-width: 767px) {
  #top>div>div>div>div.col-md-4.col-sm-6.col-xs-6 {
    text-align: right;
  }
  #phone {
    text-align: center;
    margin-top: 0px;
  }
  .icon_phone{
    margin-bottom: 7px;
    margin-right: 10px;
  }
  .icon_phone:hover{
    transform: scale(1.2);
  }
  .icon_phone>a>i {
    color: #f2d888;
    border: 1px solid;
    padding: 7px 10px;
    border-radius: 50%;
  }
  .sm_cart_and_phone {
    text-align: right;
  }
  .sm_cart_and_phone .icon_phone{
    display: inline-block;
    vertical-align: bottom;
  }
  .sm_cart_and_phone .icon_phone{
    display: inline-block;
    vertical-align: bottom;
  }
  #cart {
    display: inline-block;
    vertical-align: bottom;
  }
}


/* cart */

#cart {
  margin-top: 14px;
}

#cart>a {
  cursor: pointer;
}

#cart .img-cart-empty {
  margin-right: 10px;
  margin-top: 4px;
}

#cart .img-cart-full {
  position: relative;
  width: 100%;
}

#cart .cart-total {
  position: absolute;
  font-size: 20px;
  right: 6px;
  top: 25px;
  color: #f2d888;
}

#cart .dropdown-menu {
  min-width: 550px;
  padding: 2px;
  border-radius: 0px;
  background-color: #FFF;
  z-index: 1001;
}
#cart .item{
  margin: 7px 0px 7px 15px;

}
#cart .item div {
	display: inline-block;
  vertical-align: middle;


}
.item .item__img{
  width: 20%;
}
.item .item__name{
  width: 20%;
}
.item .item__quantity{
  width: 8%;
}
.item .item__total{
  width: 27%;
  font-size: 17px;
}
.item .item__button{
  width: 15%;
}
.item .item__button .btn{
  border: 0px;
  background: white;
}
@media (max-width: 567px) {
  #cart .dropdown-menu {
    min-width: 300px;
  }
}

#cart .total {
  text-align: right;
  background-color: #F2D888;
  padding: 10px 0px;
  margin: 0px 15px;
}
.total div{
  display: inline-block;
  font-size: 20px;
}
.total__str{
margin-right: 8px;
}
.total__sum{
margin-right: 20px;
}
#cart>ul>li:nth-child(2)>div.row.total {
  font-size: 18px;
}
.btn-cart-remove {
  padding-top: 2px;
  color: #831d00;
  background-color: transparent;
}

.btn-cart-remove:hover, .btn-cart-remove:focus {

}
@media (max-width:350px) {
  #cart>ul>li:nth-child(2)>div.row.total>div.col-md-4.col-sm-4.col-xs-4.col-xs-offset-4.col-sm-offset-4.col-md-offset-4.text-right {
    margin-left: 25%;
  }
  #cart>ul>li:nth-child(2)>div.row.total>div.col-md-4.col-sm-4.col-xs-4.text-center.font-numbers {
    width: 40%;
  }
}

#cart .cart-ref {
  margin: 10px 0px 10px 0px;
}

#cart .cart-ref .btn-lg {
  border: 1px solid #f2d888;
  color: #f2d888;
  background-color: #831d00;
	font-size: 18px;
}

#cart .cart-ref .btn-lg:hover {
  color: #831d00;
  background-color: #f2d888;
}

#cart>ul>li>p {
  color: rgb(131, 29, 0);
  margin: 10px 0 10px;
}

/* menu */

.menu_container {
  padding-left: 0px;
  padding-right: 0px;
}

#menu {
  font-size: 14px;
  background-color: #f2d888;
  border-radius: 0px;
  background-repeat: repeat-x;
  min-height: 40px;
  margin-top: 5px;
}

#menu .dropdown {
  position: static;
}

@media (max-width:768px) {
  #menu>div.navbar-collapse {
    border-top: 1px solid;
  }
}

#menu .nav>li>a {
  color: #831d00;
  padding: 10px 15px 10px 15px;
  min-height: 15px;
  background-color: transparent;
}

#menu .nav>li>a:hover, #menu .nav>li.open>a {
  color: #f2d888;
  background-color: #831d00;
  animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
#menu .dropdown-inner li a{
  -o-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;

}
#menu .dropdown-inner li :hover {
  color: white;
  /*font-size: 19px;*/
  transform: scale(1.2);
}

#menu .dropdown-menu {
  background-color: #000;
  left: auto;
  padding-bottom: 0;
}

#menu .dropdown-menu img {
  padding: 10px;
}

#menu .dropdown-menu a:hover, #menu .dropdown-menu ul li a:hover {
  background: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-inner {
  display: table;
}

#menu .dropdown-inner ul {
  display: table-cell;
}

#menu .dropdown-inner a {
  text-align: center;
  min-width: 200px;
  display: block;
  padding: 3px 20px;
  clear: both;
  line-height: 20px;
  color: #f2d888;
  font-size: 16px;
}

@media (min-width: 768px) {
  #menu {
    font-size: 18px;
  }
  #menu .navbar-nav {
    width: 100%;
    text-align: center;
  }
  #menu .navbar-nav>li {
    float: none;
    display: inline-block;
  }
  #menu .navbar-nav>li.navbar-right {
    float: right !important;
  }
}


}
#menu .see-all:hover, #menu .see-all:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
}
#menu #category {
  float: left;
  padding-left: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 40px;
  color: #831d00;
}
#menu .btn-navbar {
  font-size: 15px;
  font-stretch: expanded;
  color: #831d00;
  padding: 2px 18px;
  float: right;
  border: 1px solid #831d00;
  border-radius: 10%;
}
#menu .btn-navbar:hover, #menu .btn-navbar:focus, #menu .btn-navbar:active, #menu .btn-navbar.disabled, #menu .btn-navbar[disabled] {
  color: #f2d888;
  background-color: #831d00;
}
@media (min-width: 768px) {
  #menu .dropdown:hover .dropdown-menu {
    display: block;
  }
}
@media (max-width: 767px) {
  #menu div.dropdown-inner>ul.list-unstyled {
    display: block;
  }

  #menu .dropdown-inner {
    display: block;
  }

  #menu .see-all {
    margin-top: 0;
    border: none;
    border-radius: 0;
    color: #fff;
  }
}

/* content */
#content {
  min-height: 600px;
}
#content .featured-name {
  font-size: 35px;
  border-bottom: 2px solid rgb(131, 29, 0);
}
.sub-category {
  list-style: none;
}
.sub-category>li {
  padding: 8px;
  display: inline-block;
}
.sub-category>li>a {
  font-size: 14px;
  color: rgb(131, 29, 0);
}
.sub-category>li>a:hover, .sub-category>li>a:focus {
  color: rgb(189, 24, 0);
}
@media (max-width:480px) {
  .hidden-480 {
    display: none;
  }

  #content>div.row.hidden-sm.hidden-md.hidden-lg>div.col-xs-7 {
    width: 100%;
  }
}

/* footer */
footer {
  font-size: 15px;
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 70px;
  background-color: black;
  color: #e2e2e2;
}
footer .footer-logo p {
  padding-left: 20px;
  color: #f2d888;
}
footer hr {
  border-top: none;
  border-bottom: 1px solid #666;
}
footer a {
  color: #ccc;
}
footer a:hover {
  color: #f2d888;
}
footer h5 {
  padding-bottom: 10px;
  font-size: 18px;
  color: #f2d888;
  font-weight: bold;
  border-bottom: 1px solid #f2d888;
}

/* alert */
.alert {
  padding: 8px 14px 8px 14px;
}

/* breadcrumb */
.breadcrumb {
  font-size: 18px;
  border-radius: 0px;
  margin: 20px 0 30px 0;
  padding: 10px 5px;
}
.breadcrumb i {
  font-size: 20px;
  color: #831d00;
}
.breadcrumb>li {
  position: relative;
  white-space: nowrap;
}
.breadcrumb>li>a {
  color: #831d00;
}
.breadcrumb>li+li:before {
  content: "\f054";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #831d00;
}
.breadcrumb>li:last-child a {
  color: rgb(189, 24, 0);
}
.breadcrumb>li>a:hover {
  color: rgb(189, 24, 0);
}
.pagination {
  padding-top: 20px;
  margin: 0;
  font-size: 19px;
}
.pagination>li:first-child>a, .pagination>li:first-child>span {
  border-radius: 0px;
}
.pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  color: #f2d888;
  background-color: rgb(102, 20, 0);
}
.pagination>li>a, .pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span, .pagination>li>span:focus, .pagination>li>span:hover {
  color: #f2d888;
  background-color: rgb(102, 20, 0);
}
.pagination>li>a, .pagination>li>span {
  color: rgb(102, 20, 0);
  background-color: #f2d888;
  border: none;
}

/* buttons */
.buttons {
  margin: 1em 0;
}
.btn {
  padding: 7.5px 12px;
  border: 1px solid #831d00;
  border-radius: 0px;
  background-color:white;
}
.btn:hover {
  background-color: #f2d888;
  color: #831d00;
}
.btn-xs {
  font-size: 9px;
}
.btn-sm {
  font-size: 10.2px;
}
.btn-lg {
  padding: 10px 16px;
  font-size: 15px;
}
.btn-group>.btn, .btn-group>.dropdown-menu, .btn-group>.popover {
  font-size: 12px;
}
.btn-group>.btn-xs {
  font-size: 9px;
}
.btn-group>.btn-sm {
  font-size: 10.2px;
}
.btn-group>.btn-lg {
  font-size: 15px;
}
.btn-default {
  color: rgb(131, 29, 0);
}
.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #229ac8;
  background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
  background-repeat: repeat-x;
  border-color: #1f90bb #1f90bb #145e7a;
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
  background-color: #1f90bb;
  background-position: 0 -15px;
}
.btn-warning {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #faa732;
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-danger {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #da4f49;
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-success {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #5bb75b;
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
  box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}
.btn-info {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #df5c39;
  background-image: linear-gradient(to bottom, #e06342, #dc512c);
  background-repeat: repeat-x;
  border-color: #dc512c #dc512c #a2371a;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}
.btn-link {
  border-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  color: #23A1D1;
  border-radius: 0;
}
.btn-link, .btn-link:active, .btn-link[disabled] {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
  box-shadow: none;
}
.btn-inverse {
  color: #ffffff;
  background-color: #363636;
  background-image: linear-gradient(to bottom, #444444, #222222);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
  background-color: #222222;
  background-image: linear-gradient(to bottom, #333333, #111111);
}

/* list group */
.list-group a {
  border: 1px solid #DDDDDD;
  color: #888888;
  padding: 8px 12px;
}
.list-group a.active, .list-group a.active:hover, .list-group a:hover {
  color: #444444;
  background: #eeeeee;
  border: 1px solid #DDDDDD;
  text-shadow: 0 1px 0 #FFF;
}

/* carousel */
.carousel-caption {
  color: #FFFFFF;
  text-shadow: 0 1px 0 #000000;
}
.carousel-control .icon-prev:before {
  content: '\f053';
  font-family: FontAwesome;
}
.carousel-control .icon-next:before {
  content: '\f054';
  font-family: FontAwesome;
}

/* product list */
.product-thumb {
  border: 1px solid #ddd;
  margin-bottom: 20px;
  overflow: auto;

  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.product-thumb:hover{
  -o-transform: scale(1.01);
  -ms-transform: scale(1.01);
  -moz-transform: scale(1.01);
  -webkit-transform: scale(1.01);
  transform: scale(1.01);
	box-shadow: 0 3px 4px rgba(0,0,0,0.21);
}
.product-thumb .image {
  text-align: center;
}
.product-thumb .image a {
  display: block;
}
.product-thumb .image a:hover {
  opacity: 0.8;
}
.product-thumb .image img {
  margin-left: auto;
  margin-right: auto;
}
.product-grid .product-thumb .image {
  float: none;
}
@media (min-width: 767px) {
  .product-list .product-thumb .image {
    float: left;
    padding: 0 15px;
  }
}
.product-thumb h4 {
  margin-top: 15px;
  text-align: center;
  font-weight: bold;
}
.product-thumb h4 a {
  font-size: 23px;
  color: rgb(131, 29, 0);
}
.product-thumb .offers {
  margin-left: 0px;
  margin-right: 0px;
  background-color: #f2d888;
}
.product-thumb .caption {
  padding: 0 20px;
  min-height: 80px;
}
.product-thumb .caption .instock {
  color: green;
}
.product-thumb .caption .outstock {
  color: red;
}
.product-list .product-thumb .caption {
  margin-left: 230px;
}
.product-grid .product-thumb .caption {
  min-height: 0;
}

}
.product-thumb .rating {
  padding-bottom: 10px;
}
.rating .fa-stack {
  font-size: 10px;
}
.rating .fa-star-o {
  color: #999;
  font-size: 18px;
}
.rating .fa-star {
  color: #FC0;
  font-size: 18px;
}
.rating .fa-star+.fa-star-o {
  color: #E69500;
}
h2.price {
  margin: 0;
}
div.price-product {
  width: 50%;
  float: left;
}
div.add-button {
  padding-top: 17px;
}
@media (min-width:768px) and (max-width:1140px) {
  div.add-button {
    padding-top: 76px;
  }
  div.price-product {
    width: 100%;
  }
}
@media (max-width:543px) {
  div.count-input.space-bottom {
    margin-right: 0px;
  }
  div.price-product {
    width: 40%;
  }
}
@media (max-width:445px) {
  div.price-product {
    width: 100%;
  }
  div.add-button {
    padding-top: 76px;
  }
}
div.add-button>button {
  padding: 10px 12px;
  background-color: rgb(131, 29, 0);
  color: #f2d888;
  border:0px solid;
  border-radius: 0px;
}
.product-thumb .price {
  font-size: 20px;
  color: rgb(131, 29, 0);
}
.product-thumb .price p {
  margin-bottom: 0px;
}
.product-thumb .price .price-gen {
  margin-top: 13px;
}
.product-thumb .price-new {
  color: #e20000;
  font-weight: 600;
}
.product-thumb .price-old {
  color: rgb(131, 29, 0);
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
}
.product-thumb .price-tax {
  color: #999;
  font-size: 12px;
  display: block;
}
.product-thumb .button-group {
  border-top: 1px solid #ddd;
  background-color: #eee;
  overflow: auto;
}

/*product review*/
.con_review{
  padding: 10px 20px;
  border-bottom: 1px solid #DDD;

}
.con_review_head{
  margin-bottom: 20px;
}
.con_review .con_review_head div{
  display: inline-block;
  vertical-align: top;
}
.con_review .con_review_head .fa-stack{
  width: 1.4em;
}
.con_review_head .author{
      font-size: 17px;
      min-width: 25%;
}
.con_review_head .star{
  color: #FFD700;
     min-width: 33%;
}
.con_review_head .date_added{
  min-width: 30%;
}
.submit-button {
  padding-left: 0px;
}
.con_review .con_review_body{
  font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
  font-size: 1.07692em;
  line-height:1.43em;
}
.write_review{
  background-color: #F6F6F6;
  padding: 10px;
  margin-top: 10px;
}
.submit-button button {
  color:#f2d888;
  margin: 5px 0 5px 0;
  border: none;
  padding: 7px 9px 7px 9px;
  background-color: rgb(131, 29, 0);
  border:1px solid rgb(102, 20, 0);
}
.submit-button button:hover {
  background-color: #f2d888;
  color:rgb(102, 20, 0);
  padding: 7px 9px 7px 9px;
  border:1px solid rgb(102, 20, 0);
}
.product-list .product-thumb .button-group {
  border-left: 1px solid #ddd;
}
@media (max-width: 768px) {
  .product-list .product-thumb .button-group {
    border-left: none;
  }
}
.product-thumb .button-group button {
  width: 60%;
  border: none;
  display: inline-block;
  float: left;
  background-color: #eee;
  color: #888;
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}
.product-thumb .button-group button+button {
  width: 20%;
  border-left: 1px solid #ddd;
}
.product-thumb .button-group button:hover {
  color: #444;
  background-color: #ddd;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button+button {
    width: 33.33%;
  }
}
@media (max-width: 767px) {
  .product-thumb .button-group button, .product-thumb .button-group button+button {
    width: 33.33%;
  }
}
.propery-product {
  font-size: 16px;
}
.propery-product>li {
  font-family: 'RalewayRegular', sans-serif;
  color: #555555;
}
.propery-product>li>a {
  color:rgb(189, 24, 0);
}
.propery-product>li>span {
  font-family: 'RalewayBold', sans-serif;
  color: rgb(131, 29, 0);
  margin-left: 5px;
}
.thumbnails {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
}
.thumbnails>li {
  margin-left: 20px;
}
.thumbnails {
  margin-left: -20px;
}
.thumbnails>img {
  width: 100%;
}
.image-additional a {
  margin-bottom: 20px;
  padding: 5px;
  display: block;
  border: 1px solid #ddd;
}
.image-additional {
  max-width: 78px;
}
.thumbnails .image-additional {
  float: left;
  margin-left: 20px;
}
@media (min-width: 1200px) {
  #content .col-lg-2:nth-child(6n+1), #content .col-lg-2:nth-child(6n+1), #content .col-lg-3:nth-child(4n+1), #content .col-lg-4:nth-child(3n+1), #content .col-lg-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #content .col-md-2:nth-child(6n+1), #content .col-md-2:nth-child(6n+1), #content .col-md-3:nth-child(4n+1), #content .col-md-4:nth-child(3n+1), #content .col-md-6:nth-child(2n+1) {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #content .col-sm-2:nth-child(6n+1), #content .col-sm-2:nth-child(6n+1), #content .col-sm-3:nth-child(4n+1), #content .col-sm-4:nth-child(3n+1), #content .col-sm-6:nth-child(2n+1) {
    clear: left;
  }
}
.product-layout {
  min-width: 275px;
  max-width: 460px;
}

/* fixed colum left + content + right*/
@media (min-width: 768px) {
  #column-left .product-layout .col-md-3 {
    width: 100%;
  }
  #column-left+#content .product-layout .col-md-3 {
    width: 50%;
  }
  #column-left+#content+#column-right .product-layout .col-md-3 {
    width: 100%;
  }
  #content+#column-right .product-layout .col-md-3 {
    width: 100%;
  }
}

/* fixed product layouts used in left and right columns */
#column-left .product-layout, #column-right .product-layout {
  width: 100%;
}

/* fixed mobile cart quantity input */
.input-group .form-control[name^=quantity] {
  min-width: 50px;
}

/*count quantity input */
.form-group>.count-input {
  margin-right: 15px;
  margin-top: 17px;
  float: left;
  position: relative;
  width: 100%;
  max-width: 116px;
}
.count-input input {
  font-size: 15px;
  width: 100%;
  height: 39.92307692px;
  border: 1px solid rgb(131, 29, 0);
  background: none;
  text-align: center;
}
.count-input input:focus {
  outline: none;
}
.count-input .incr-btn {
  color: rgb(131, 29, 0);
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  font-size: 28px;
  text-align: center;
  line-height: 30px;
  top: 50%;
  right: 0;
  margin-top: -15px;
  text-decoration:none;
}
.count-input .incr-btn:first-child {
  right: auto;
  left: 0;
  top: 46%;
}
.count-input.count-input-sm {
  max-width: 125px;
}
.count-input.count-input-sm input {
  height: 36px;
}
.count-input.count-input-lg {
  max-width: 200px;
}
.count-input.count-input-lg input {
  height: 70px;
  border-radius: 3px;
}

/*edit category left BLamp*/
.menu-ico-collapse>i {
  top:35%;
  position: absolute;
  right: 5%;
  font-size: 12px;
}
.list-group a {
  color: rgb(131, 29, 0);
  border: 0px solid;
}
.list-group a.active {
  background-color:#f2d888;
  color: rgb(131, 29, 0);
  text-shadow: none;
  border: 0px solid;
  border-radius: 0px;
}
.list-group a.active:hover {
  background-color:#f2d888;
  color: rgb(131, 29, 0);
  border: 0px solid;
  text-shadow: none;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  color:rgb(131, 29, 0);
  background-color:#f2d888;
  text-shadow: none;
  border: 0px solid;
}
a.list-group-item:focus, a.list-group-item:hover, button.list-group-item:focus, button.list-group-item:hover {
  color: rgb(189, 24, 0);
  background-color: #fff;
}
a.list-group-item.sub-item.current-sub-group {
  color: rgb(189, 24, 0);
}
.list-group-submenu {
  border-bottom: 1px solid rgb(102, 20, 0);
}
.list-group-submenu>a {
  padding-left:20%;
}
.list-group-submenu>a:before {
  font-family: FontAwesome;
  content: "- ";
}
.list-group-item.items {
  background-color: #f7f7f7;
  border: 1px solid #fff;
}
a.list-group-item.items:focus, a.list-group-item.items:hover, button.list-group-item.items:focus, button.list-group-item.items:hover {
  color:rgb(131, 29, 0);
  background-color:#f2d888;
  text-shadow: none;
  border: 1px solid #fff;
}
.list-group-item.sub-item:hover {
  border: 0px solid;
}

/* Missing focus and border color to overwrite bootstrap */
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
  background-image: none;
  background-color: #df5c39;
}

/*textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,*/
button:focus, button:active, button:hover, label:focus, .btn:active, .btn.active,a:focus,a:hover {
  outline:0px !important;
  -webkit-appearance:none;
}
.form-control {
  color:#831d00;
  outline: none;
  box-shadow:none !important;
  border:1px solid #ccc !important;
}
.sort-products {
  background-color: #f2d888;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
}
.sort-products label {
  padding-left: 0px;
  font-size: 15px;
  margin-top: 7px;
  color:rgb(131, 29, 0);
}
.sort-products #input-limit {
  min-width: 90px;
  border: 1px solid #F2D888;
}
.sort-products .input-group button {
  box-shadow: none;
  border: 1px solid #F2D888;
}
#input-sort:hover{
  border-color: #F2D888;
}
.sort-products button ul li a {
  color:rgb(131, 29, 0);
  display: block;
  width: 100%;
  height: 100%;
}
@media (max-width:1170px) {
  #content>div.row.sort-products>div.col-md-offset-3.col-md-3.hidden-sm.hidden-xs>div>div {
    margin-left: 50px;
  }
}
@media (max-width:380px) {
  #input-sort {
    font-size: 11px;
    min-width: 150px;
    line-height: 1.9;
  }
}

/*Edit Select */
.btn-select {
  position: relative;
  padding: 0;
  min-width: 190px;
  width: 100%;
  border-radius: 0;
}
.btn-select .btn-select-value {
  padding: 6px 12px;
  display: block;
  position: absolute;
  left: 0;
  right: 34px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  border-top: none !important;
  border-bottom: none !important;
  border-left: none !important;
}
.btn-select-value a {
  color: rgb(131, 29, 0);
}
.btn-select .btn-select-arrow {
  float: right;
  line-height: 20px;
  padding: 6px 10px;
  top: 0;
}
.btn-select ul {
  display: none;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: none !important;
  position: absolute;
  left: -1px;
  right: -1px;
  top: 33px;
  z-index: 999;
}
.btn-select ul li {
  padding: 1px 2px;
  text-align: left;
}
.btn-select .active {
  color:#f2d888;
  background-color: rgb(131, 29, 0);
}
.btn-select ul li a:hover {
  color:#f2d888;
  background-color: rgb(131, 29, 0);
}
.btn-select ul li.selected {
  color: white;
}
.list-group-item.active, .list-group-item.active:focus,
/* Default Start */
.btn-select.btn-default:hover, .btn-select.btn-default:active, .btn-select.btn-default.active {
  border-color:#831d00;
}
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:active:focus a:focus {
  background-color: #f2d888;
  color: #831d00;
  border-color: #831d00;
  outline:0px !important;
  -webkit-appearance:none;
}
a:focus, a:hover{
  color: inherit;
}
.btn-select.btn-default ul li.selected {
  background-color: #831d00;
}
.btn-select.btn-default ul li.selected>a {
  color:#f2d888;
}
.btn-select.btn-default ul, .btn-select.btn-default .btn-select-value {
  background-color: #f2d888;
}
.btn-select.btn-default:hover, .btn-select.btn-default.active {
  color: #831d00;
  background-color: #f2d888;
}
/****** Style Star Rating Widget *****/
.rating-product {
  border: none;
  float: left;
}
.rating-product>input {
  display: none;
}
.rating-product>label:before {
  margin: 5px;
  font-size: 2.5em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}
.rating-product>label {
  color: #ddd;
  float: right;
}
.label-rating {
  float:left;
  padding-right: 10px;
}
/***** CSS Magic to Highlight Stars on Hover *****/
.rating-product>input:checked~label, /* show gold star when clicked */
.rating-product:not(:checked)>label:hover, /* hover current star */
.rating-product:not(:checked)>label:hover~label {
  color: #FFD700;
}
/* hover previous stars in list */
.rating-product>input:checked+label:hover, /* hover current star when changing rating */
.rating-product>input:checked~label:hover, .rating-product>label:hover~input:checked~label, /* lighten current selection */
.rating-product>input:checked~label:hover~label {
  color: #FFED85;
}
/*chekout*/
#content.checkout .form-control {
  border-radius: 0px;
}
#content.checkout .text-danger {
  color: red;
}
#content.checkout .panel-heading {
  background-color: #f2d888;
  border-radius: 0px;
  padding: 20px;
}

#content.checkout .panel-default {
  border:none;
}
#content.checkout .btn {
  background-color: #831d00;
  color: #f2d888;
}
#content.checkout .btn:hover, .btn:focus {
  color: #831d00;
  background-color: #f2d888;
  outline:0px !important;
  -webkit-appearance:none;
}
#content .general-cart td {
  vertical-align: middle;
  font-size: 15px;
}
#content .general-cart .count-input {
  margin-top: 0px;
}
#content .general-cart thead {
  background-color: #f2d888;
}
#content .general-cart tbody {
  border-bottom: 1px solid;
}
#content .cart-submit-chekout {
  position: absolute;
  font-size: 1.4em;
  background-color: #f2d888;
  padding-bottom: 20px;
}
#content .cart-submit-chekout td {
  border-bottom: 1px solid #831d00;
}
#content .cart-submit-chekout .btn-lg {
  font-size: 20px;
  background-color: #831d00;
  color: #f2d888;
}
#content .checkout__costumer{
  min-height: 220px;
}
#content .cart-submit-chekout .btn-lg:hover {
  background-color: #f2d888;
  color: #831d00;
}
#collapse-shipping-method .shipping_method {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  min-height: 310px;
}
.ui-autocomplete {
  max-height: 100px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}
/* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
  height: 100px;
}
#collapse-shipping-method .shipping_method p {
  text-align: center;
}
#collapse-shipping-method #np {
  background-color:#f2d888;
}
#carriers-info input {
  text-transform: capitalize;
}
#carriers-info>div>span {
  border-radius: 0px;
  background-color: white;
  border-color: #ccc;
}
#carriers-info>div>span>i {
  color: #831d00;
}
.panel-collapse.collapse .panel-body{
  border: none;
  background-color: #fbfbfb;
}
#collapse-shipping-method .carrier__img{
  text-align: center;
  padding: 20px;
}
#collapse-shipping-method .carrier__name{
  border-top: 1px solid;
  padding-top: 10px;
  font-size: 16px;
}
.shipping_methods_text{
  font-size: 16px;
  padding-bottom: 10px;
  border-bottom: 1px solid;
}
#carriers-info .input-group{
  margin-bottom: 10px;
}
#button-account{
  margin-top: 5px;
}
#collapse-checkout-option > div > div > div:nth-child(1){
  border-right: 2px solid;
}
@media (max-width:767px) {
  #collapse-checkout-option > div > div > div:nth-child(1){
    padding-bottom: 20px;
    border-right: 0px solid;
    border-bottom: 1px solid;
  }
}
#collapse-checkout-option > div > div > div:nth-child(1) > div > p:nth-child(2){
  font-size: 16px;
}
#collapse-checkout-option > div > div > div:nth-child(2) > div.login__block > a{
  margin-left: 20px;
}
#button-shipping-method{
  margin-top: 20px;
}
#content > div > div > div.well{
  border-radius: 0px;
  min-height: 370px;
}
#content .button__continue_login{
  position: absolute;
  top:277px;
}
#content > div.contact{
  padding: 20px;
  background-color:#F2D888;
  font-size: 14px;

}
#content > div.contact div{
  display: inline-block;
  vertical-align: top;
}
#content > div.contact div span{
  display: inline-block;
  font-size: 18px;
  margin-bottom:10px;
}
.contact > .contact__img{
  min-width: 20%;
}
.contact > .contact__address{
  min-width: 30%;
}
.contact > .contact__info{
  min-width: 25%;
}
.contact > .contact__open{
  min-width: 10%;
}
@media (max-width:992px) {
  .contact__open{
    margin-top: 15px;
    margin-left: 5px;
  }
   .contact__info{
     margin-left: 10px;
   }
}
@media (max-width:680px) {
  .contact__info{
    margin-top: 16px;
    margin-right: 20px;
  }

}
@media (max-width:457px) {
  .contact{
    text-align: center;
  }
}
#n > div > div.modal-content{
  border-radius: 0px;
}
#n > div > div > div.info_feedback{
  padding: 20px;
}
#content > .con_information > button > h1{
  display: inline-block;
}
#content > .con_information > button > i{
  font-size: 2em;
}
#content > .con_information > button{
  border: 0px;


  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.con_information{
  text-align: center;
  width: 100%;
  display:inline-block;
  margin-top: 10px;

}
#content > .con_information > button:hover{
  background-color: inherit;
 transform: scale(1.1);
}

/*.dropdown-menu{
  -o-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}*/

@media (max-width:390px) {

  .con_information button{
    font-size: 1em;
  }
  .con_information h1{
     font-size: 2.2em;
  }
}
#menu > div.collapse.navbar-collapse.navbar-ex1-collapse > ul > li > div{
  animation: fadein 1s;
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
